* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: bisque;
}
nav ul {
    list-style: none;
}



main {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 90%;
 
  
}
nav {
  display: flex;
  width: 25%;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(21, 104, 21);
  padding:20px;
}

article{ 
    border-left: 1px solid black;
    padding:20px;
    display:flex; 
    background-color: lightblue; 
    width: 75%; 
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}